<div class="title">
	<div>
		Danh sách quản lý
	</div>
	<div>
		<div></div>
		<button [routerLink]="['create']">Tạo mới </button>
	</div>
</div>
<div class="table">
	<p-table [value]="books" [tableStyle]="{'min-width': '100%'}">
		<ng-template pTemplate="header">
			<tr>
				<th>STT</th>
				<th>Ảnh</th>
				<th>Tên</th>
				<th>Phân lọai</th>
				<th>Tổng chapter</th>
				<th>Trạng thái</th>
				<th>Tác giả</th>
				<th>Lượt theo dõi</th>
				<th>Lượng truy cập</th>
				<th></th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-book let-columns="columns">
			<tr style="text-align: center;">
				<td></td>
				<td><advanced-image [cldImg]="book?.img"></advanced-image></td>
				<td>{{book?.title}}</td>
				<td>
					<ng-container  *ngFor="let tag of book?.category">
						<p-tag value="New"></p-tag>
					</ng-container>
				</td>
				<td>{{book?.total_chap}}</td>
				<td>{{book?.status}}</td>
				<td>{{book?.author}}</td>
				<td>{{book?.flower}}</td>
				<td>{{book?.seen}}</td>
				<td></td>
			</tr>
		</ng-template>
	</p-table>
</div>